/.vscode
/aaaaaa.py
/aluno pergunta.py
/ano bissexto.py
/aumento.py
/bigramas.py
/boias.py
/carnaval.py
/caso da legalização das bebidas.py
/celsius_para_fahrenheit.py
/conta.py
/desafio handout.py
/euler.py
/exercicio.py
/extensao.py
/fumantes dias perdidos.py
/Função (milhas para KM).py
/função math e casas decimais.py
/função.py
/ifs.py
/indice.py
/indice.txt
/invertida.py
/jaca wars.py
/jacas.py
/lista primos.py
/lista substraçao.py
/listas.py
/lista_caracteres.py
/matriz.py
/mes para numero.py
/mru.py
/nome com vogal.py
/numero aleatorio while.py
/numero aleatorio.py
/numero para mês.py
/Operações matemáticas.py
/palavras iniciadas em a.py
/palavras iniciadas em a.txt
/pentagono area.py
/primo.py
/primos dada.py
/print função.py
/problema da multa.py
/raiz quadrada.py
/reflexao total.py
/refracao total.py
/refracao.py
/roleta.py
/segundos soma.py
/sequencia.py
/silabas.py
/soma com input.py
/soma de strings (concatenação).py
/subtração de lista.py
/todo mundo odeia o chris.py
/triangulo lado or e and.py
/Untitled-1.py
/Untitled-1.txt
/Variáveis.py
/vetor.py
/viagem.py
/volume esfera com biblioteca math.py
/volume esfera com input.py
/volume esfera.py
/while.py
/área triângulo.py